DATABASE_URL="postgresql://postgres:password@localhost:5432"
NEXTAUTH_URL="http://localhost:3000"

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

NEXT_PUBLIC_BACKEND_URL=http://localhost:8080/
NEXT_PUBLIC_EXPRESS_BACKEND_URL=http://localhost:3001/
NEXT_PUBLIC_BLOCKFROST_API_KEY_PREPROD=preprod
NEXT_PUBLIC_MESH_POOL_ID=pool1234567890
NEXT_PUBLIC_MESH_DREP_ID=drep1234567890